
@model IEnumerable<CarInsurance.Models.Insuree>

@{ 
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Quote</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
        <tr>

            <td>@Html.DisplayFor(mondelItem => item.FirstName) </td>
            <td>@Html.DisplayFor(mondelItem => item.LastName) </td>
            <td>@Html.DisplayFor(mondelItem => item.EmailAddress) </td>
            <td>@Html.DisplayFor(mondelItem => item.Quote) </td>
        </tr>
            }
    </tbody>
</table>
